.cursor {
    position: fixed;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: overlay;
    filter: blur(50px);
    pointer-events: none;
}

.cursor-bright {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    mix-blend-mode: overlay;
    z-index: 4;
    filter: blur(24px);
    pointer-events: none;
}
