.page .sidebar-container {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 40px;
    justify-content: center;
    min-height: 640px;
    min-width: 260px;
    max-width: 300px;
    max-height: calc(100vh - 160px);
    padding: 80px 56px;
    z-index: 99;
    animation: fadeInSide 1s ease-in-out;
  }

  @keyframes fadeInSide {
    from {
      opacity: 0;
      transform: translatey(20px);
    }
  
    to {
      opacity: 1;
      transform: translatey(0);
    }
    
  }

  .page .sidebar-content {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    width: 100%;
  }
  
  .page .resume-list {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
  }

  .page .div-left {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    height: 100%;
  }
  
  .page .more-info-list {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    position: relative;
  }
  
  .page .div-right {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;

    span {
        font-weight: 300;
        color: var(--secondary);
    }

  }

